

@mixin translate-($x, $y, $z) {
  transform: translate(($x * 1px), ($y * 1px));
}

@mixin translateX-($x) {
  transform: translateX($x * 1px);
}
@mixin translateY-($y) {
  transform: translateY($y * 1px);
}

@mixin rotate-($i) {
  transform: translate($i * 0.1deg);
}

@mixin scale-($i) {
  transform: scale($i);
}