
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.text {
  &-align {
    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }
  }

  &-transform {
    &-uppercase {
      text-transform: uppercase;
    }

    &-lowercase {
      text-transform: lowercase;
    }

    &-capitalize {
      text-transform: capitalize;
    }
  }

  &-decoration {
    &-underline {
      text-decoration: underline;
    }

    &-none {
      text-decoration: none;
    }
  }
}


.line-height- {
  @for $i from 0 through 500 {
    &#{$i} {
      line-height: ($i * 1px);
    }
  }

  &initial {
    line-height: initial !important;
  }

  &normal {
    line-height: normal;
  }

  &justify {
    text-align: justify;
    text-justify: auto;
  }
}

.letter-spacing- {
  letter-spacing: normal;

  &normal {
    letter-spacing: normal;
  }

  &initial {
    letter-spacing: initial;
  }

  @for $i from 0 through 500 {
    &#{$i} {
      letter-spacing: ($i * 1px);
    }
  }
}

.list-style {
  &-none {
    list-style: none;
    padding: 0 !important;
  }

  &-number {
    list-style-type: decimal;
    margin-left: 20px;
  }
}

.font {
  @for $i from 100 through 900 {
    &-weight-#{$i} {
      font-weight: ($i * 1px);
    }
  }
  @for $i from 0 through 10 {
    &-size-#{$i} {
      font-size: ($i * 1rem);

    }

    @include max-mobile-xlg {
      &-size-max-xlg-#{$i} {
        font-size: ($i * 1rem);

      }
    }

    @include max-mobile-lg {
      &-size-max-lg-#{$i} {
        font-size: ($i * 1rem);

      }
    }
  }
}